<div class="table-container">
    <table mat-table [dataSource]="data" class="mat-elevation-z8">

        <!-- Code Column -->
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef> Code </th>
            <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>

        <!-- Formule Column (Input Field) -->
        <ng-container matColumnDef="formuleValeur">
            <th mat-header-cell *matHeaderCellDef> Formule / Valeur </th>
            <td mat-cell *matCellDef="let element; let idx = index;">
                <input [(ngModel)]="editingElement === element ? element.formule : element.valeur"
                    (focus)="startEdit(element)" (keydown.enter)="finishEdit()" (blur)="finishEdit()"
                    (input)="onChangeFormula($event, idx)" />
            </td>
        </ng-container>

        <!-- Header and Row Declarations -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>