.table-container {
    width: 100%;
    display: flex;
    overflow: auto;
}

table {
    width: 100%;
}

th,
td {
    width: 33.33%;
}

th {
    font-weight: bold;
    background-color: lightblue !important;
}

tr:hover {
    background-color: #e2e2e2;
}

input {
    width: 100%;
    box-sizing: border-box;
}

input:read-only {
    background-color: #e2e2e2;
}