<div class="table-container">
    <table mat-table [dataSource]="data" class="mat-elevation-z8">
        <!-- Code Column -->
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef> Code </th>
            <td mat-cell *matCellDef="let element; let idx = index;"> <input matInput [(ngModel)]="element.code"
                    (focus)="startEditCode(element.code)" placeholder="Entrer un code"
                    (change)="onChangeCode($event, idx)" /> </td>
        </ng-container>

        <!-- Formule Column (Input Field) -->
        <ng-container matColumnDef="formule">
            <th mat-header-cell *matHeaderCellDef> Formule </th>
            <td mat-cell *matCellDef="let element; let idx = index;">
                <input matInput [(ngModel)]="element.formule" placeholder="Entrer la formule"
                    (focus)="startEditFormula(element.formule)" (change)="onChangeFormula($event, idx)" />
            </td>
        </ng-container>

        <!-- Valeur Column (Readonly) -->
        <ng-container matColumnDef="valeur">
            <th mat-header-cell *matHeaderCellDef> Valeur </th>
            <td mat-cell *matCellDef="let element; let idx = index;">
                <input matInput [value]="element.valeur" readonly />
            </td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let idx = index;">
                <button (click)="deleteRow(idx)" mat-icon-button>
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <!-- Header and Row Declarations -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<button mat-button (click)="addNewRow()">Ajouter une ligne</button>